<div>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1> Sistema de Revendas </h1>
        </div>
    </div>

    <div id="botao"><button class="btn  btn-primary btn-lg" ng-click="cadastroVeiculo()">Cadastrar veículo</button></div>
    <div>
        <div class="col-sm-6" id="cadastroVeiculo" hidden="true">

            <div class="panel panel-primary">
                <div class="panel panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label">Nome</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="nome">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label"> Codigo </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="codigo">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                           <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label"> Carro </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="carro" ng-model="nomeCarro">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    <label class="control-label">Placa </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="placa">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label"> Valor </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="valor">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label"> Serviço </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-md" id="servico">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <div class="col-sm-3">
                                    <label class="control-label"> Data </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" id="data" name="input" ng-model="date.value" class="form-control input-md"
                                    placeholder="yyyy-MM-dd"/>
                                </div>
                            </div>
                            <div class="col-md-6"><div class="col-md-6"></div><div class="col-md-6"><button class="btn  btn-primary btn-lg" ng-click="cadastroVeiculo()">Enviar</button></div></div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>