<div ng-init = "veiculos = [{veiculo: 'carro1', vendedor: 'vendedor1', cliente: 'cliente 1', FP: 'FP1', valor: 'valor1'},
                            {veiculo: 'carro2', vendedor: 'vendedor2', cliente: 'cliente 2', FP: 'FP2', valor: 'valor2'},    
                            {veiculo: 'carro3', vendedor: 'vendedor3', cliente: 'cliente 3', FP: 'FP3', valor: 'valor3'}]">
</div>          


<div class="col-xs-12">
<h1 align="center"> Relatório de vendas </h1>
 </div>  
   <div>
    <div class="col-xs-4">
        <label> Busca </label><input type="text" ng-model="busca">
    </div>
    <div class="col-xs-8">
    <table class="table table-bordered">
        <thead>
            <th> Veículo </th>
            <th> Vendedor </th>
            <th> Cliente </th>
            <th> Forma de pagamento </th>
            <th> Valor total </th>
        </thead>
        <tbody>
           <tr ng-repeat = "veiculo in veiculos | filter:busca">
               <td> {{veiculo.veiculo}} </td>
               <td> {{veiculo.vendedor}} </td>
               <td> {{veiculo.cliente}} </td>
               <td> {{veiculo.FP}} </td>
               <td> {{veiculo.valor}} </td>
               </tr>
        </tbody>
    </table>
        </div>
    </div>